@charset "utf-8";

/* commmon */
	.main { width: 1200px; }
	.avatar,.info_left { float: left; margin: 0; }
	.base,.info_right { float: right; }
	.info_left,.info_right {width: 47%; }
	.info_left2 { float: left; margin: 0; width: 47%; }
	.base { width: calc(100% - 190px); width: -moz-calc(100% - 190px); width: -webkit-calc(100% - 190px); }
	.base span { position: absolute; right: 100px; top: 27px; }
	.info_timeline dl dt { width: 200px; }
	.info_timeline dl dd { width: calc(100% - 200px); width: -moz-calc(100% - 200px); width: -webkit-calc(100% - 200px); }
	.footer a { float: right; }
	.tip_avatar_con { background: url('../images/cartoon.png') no-repeat 20% center; }
	.tip_right { width: 45%; height: 460px; position: absolute; right: 0; top: 50%; margin: -230px 0 0; }
	.info_content.over .desc { height: 0; margin: 0; }
	.info_content.over .s5.curr { height: 701px }
	.info_content .s5 { height: 75px }
	.info_content.over .s4.curr { padding-top: 95px; height:606px }
	.info_content .s4 { height: 190px }
	.info_content.over .s3.curr { padding-top: 305px; height: 396px }
	.info_content .s3 { height: 94px }
	.info_content.over .s2.curr { padding-top: 419px; height: 285px }
	.info_content .s2 { height: 150px }
	.info_content.over .s1.curr { padding-top: 589px; height: 112px }
	.info_content .s1 { height: 92px }
	.info_content ul li .btn_go { height: 30px; line-height: 30px; padding: 0 5px 0 10px; position: absolute; right: 10px; top: 5px; font-weight: normal; display: none; }
	.info_content ul li:hover .btn_go { display: block; }
	.main_info{ height: 850px; display: block:}
	/*.info_content{height: 701px; display:block}*/

	.descprition { width: 800px; margin: 0 auto; padding: 3% 0; }
	.descprition p img { max-width: 800px; }
	.carousel-control { width: 40px; height: 40px; bottom: 10px; color: #fff; line-height: 40px; text-align: center; }
	.carousel-control.left { left: 10px; border-radius: 5px 0 0 5px; -webkit-border-radius: 5px 0 0 5px; -moz-border-radius: 5px 0 0 5px; }
	.carousel-control.right { left: 50px; border-radius: 0 5px 5px 0; -webkit-border-radius: 0 5px 5px 0; -moz-border-radius: 0 5px 5px 0; }
	.sound_help { width: 56%; padding: 2%; margin-left: -30%; height: 300px; }


    .skill_points{display:block; height:125px;}
	.skills dl { width: 200px; }
	.skills dl dt { float: left; line-height: 25px; color: #999; }
    .skills dl dt h6 { color: #333; }
    .skills dl dt i { float: left; margin-right: 5px; }
    .skills dl dt em { color: #ccc; margin-left: 3px; }
    .skills dl dd { float: right; line-height: 25px; }
    .skills dl dd b,.skills dl dd em { border-radius: 100%; -webkit-border-radius: 100%; -moz-border-radius: 100%; float: left; width: 10px; height: 10px; margin: 7px 5px 0 0; }
    .skills dl dd b { background-color: #666; }
    .skills dl dd em { background-color: #ddd; }
    .skills dd {width: 100px; }
    .skills dt {width: 100px; }
    
    
	
    
    
	.sills_long dl dt { width: 264px; }
	.sills_long { width: 600px; }
	.sills_long dl dd { width: calc(100% - 200px); width: -moz-calc(100% - 200px); width: -webkit-calc(100% - 200px); }
	.sills_long ul li { list-style: none; position: relative; overflow: hidden; padding-bottom: 20px; }
.sills_long ul li .dot { width: 2px; height: 100%; position: absolute; left: 4px; top: 0; background-color: #666; }
.sills_long ul li .dot b { border-radius: 100%; -webkit-border-radius: 100%; -moz-border-radius: 100%; width: 10px; height: 10px; position: absolute; left: -6px; top: 4px; background-color: #333; border: 2px #eee solid; }
.sills_long ul li.top .dot { top: 10px; }
.sills_long ul li.top .dot b { top: -6px; }
.sills_long ul li.bottom .dot { height: 10px; }
.sills_long ul li.top .dot b { top: -6px; }
.sills_long ul li .con { padding-left: 30px; }
.sills_long ul li .con h3,.sills_long ul.focus li.curr .con h3 { font-size: 14px; color: #333; line-height: 22px; padding-bottom: 3px; }
.sills_long ul li .con p { line-height: 25px; }
.sills_long ul.focus li.curr .con p { color: #666; }
.sills_long ul li .con p.desc,.sills_long ul.focus li.curr .con p.desc { color: #999; }
.sills_long ul.focus li.curr .dot,.sills_long ul.focus li.curr .dot b { background-color: #109d59; }
.sills_long ul.focus li .dot,.sills_long ul.focus li .dot b { background-color: #bbb; }
.sills_long ul.focus li .con h3,.sills_long ul.focus li .con p,.sills_long ul.focus li .con p.desc { color: #bbb; }

.sills_long dl dt { float: left; line-height: 25px; color: #999; }
.sills_long dl dt h6 { color: #333; }
.sills_long dl dt i { float: left; margin-right: 5px; }
.sills_long dl dt em { color: #ccc; margin-left: 3px; }
.sills_long dl dd { float: right; line-height: 25px; }
.sills_long dl dd b,.sills_long dl dd em { border-radius: 100%; -webkit-border-radius: 100%; -moz-border-radius: 100%; float: left; width: 10px; height: 10px; margin: 7px 5px 0 0; }
.sills_long dl dd b { background-color: #666; }
.sills_long dl dd em { background-color: #ddd; }
 
 
	.skills_left,.skills_right { width: 47%; }
	.skills_right { float: right; }
	.skills_left { float: left; margin: 0; }

/* 799 */
@media only screen and (max-width: 799px){	

	.main { width: 100%; }
	.avatar { float: none; margin: 0 auto; }
	.base,.info_left,.info_right { float: none; }
	.info_left,.info_right { width: 100%; }
	.info_left2 { width: 100%; float: left;}
	.base { width: 100%; }
	.base p,.base h2 { text-align: center; }
	.base span { position: relative; width: 110px; margin: 0 auto; display: block; right: inherit; }
	.base span p { text-align: left; }
	.info_timeline dl { margin-bottom: 10px; }
	.info_timeline dl dt { width: 170px; }
	.info_timeline dl dd { width: calc(100% - 170px); width: -moz-calc(100% - 170px); width: -webkit-calc(100% - 170px); }
	.footer a { float: none; }
	.tip_avatar_con { background-position: center center; }
	.tip_right { width: 80%; padding: 10% 10% 30%; height: auto; position: relative; top: 0; margin: 0; background-color: rgba(215,62,42,0.95); }
	.info_content.over .desc { height: auto; margin-bottom: 20px; }
	.info_content.over .s5.curr, .info_content.over .s4.curr, .info_content.over .s3.curr, .info_content.over .s2.curr, .info_content.over .s1.curr { padding-top: 0; height: auto; }
	.info_content ul li .btn_go { display: block; position: relative; right: 0; top: 0; width: 80%; margin: -100px 0 30px 26px; }
	.descprition { width: 94%; }
	.descprition p img { max-width: 100%; }
	.sound_help { width: 96%; padding: 2%; margin-left: -50%; height: 350px; }


	/* display none */
	.button_print { display: none; }
	.button_home { display: none; }

}


/* 800-1023 nav */
@media only screen and (min-width: 800px) and (max-width: 1199px){

	.main { width: 100%; }
	.info_timeline dl { margin-bottom: 10px; }
	.descprition { width: 740px; }
	.descprition p img { max-width: 740px; }
	
}

